<div class="container">
  <div class="p-5" style="border-radius: 5px; background-color: #343739">
    <h1 class="text-center" style="color: white">Search For Any Movie</h1>
    <div class="search">
      <div class="input-group mb-3">
        <input
          #search
          type="text"
          class="form-control"
          placeholder="Search for Movie"
          style="border-radius: 5px"
        />
        <i
          class="fa fa-search fa-2x"
          (click)="getMovies(search.value)"
          style="
            color: #343739;
            position: absolute;
            top: 2px;
            right: 0;
            z-index: 1000;
          "
        ></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-card-movie *ngFor="let movie of movies" [movie]="movie"></app-card-movie>
</div>
